In [104]:
import networkx as nx
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

with open("data/cleaned/sub", 'rb') as f:
    sub = pickle.load(f)
with open("data/cleaned/comm", 'rb') as f:
    comm = pickle.load(f)

    
data = pd.concat([comm[['author', 'subreddit_id', 'subreddit']], sub[['author', 'subreddit_id', 'subreddit']]], ignore_index=True)
print(sub.shape)
print(comm.shape)
print(data.shape)
data

(2044810, 8)
(4873690, 6)
(6918500, 3)

                      author subreddit_id    subreddit
0                      Haven         t5_6   reddit.com
1                   lilmiss2         t5_6   reddit.com
2        EverybodysAnAsshole         t5_6   reddit.com
3                   generalk      t5_2fwo  programming
4                  seeker135     t5_2cneq     politics
...                      ...          ...          ...
6918495      themightymidget     t5_2qh33        funny
6918496                Tom22     t5_2qh3l         news
6918497             bixiebix         t5_6   reddit.com
6918498             middkidd     t5_2cneq     politics
6918499               klippa         t5_6   reddit.com

[6918500 rows x 3 columns]

###  1.2) Broj korisnika

In [93]:
data_g = data.groupby(['subreddit_id', 'subreddit']).nunique().sort_values(by= ['author'], ascending = False)
print(data_g.head(10))

                            author
subreddit_id subreddit
t5_6         reddit.com     163779
t5_2cneq     politics        38374
t5_2qh0u     pics            29753
t5_2qh16     technology      28337
t5_2qh33     funny           28186
t5_2qh0f     entertainment   26360
t5_mouw      science         25854
t5_2fwo      programming     25819
t5_2qgzg     business        25253
t5_2qh13     worldnews       24937

### 1.3) Broj Komentara

In [94]:
data_comm = comm
data_comm
data_comm_g = data_comm.groupby(['subreddit' , 'subreddit_id']).agg(counts=('id' , 'count')).nlargest(10, "counts")
print(data_comm_g.head(10))

                           counts
subreddit   subreddit_id
reddit.com  t5_6          1143184
politics    t5_2cneq       801396
programming t5_2fwo        345997
pics        t5_2qh0u       286192
science     t5_mouw        238291
worldnews   t5_2qh13       228793
WTF         t5_2qh61       187876
funny       t5_2qh33       175547
technology  t5_2qh16       149803
AskReddit   t5_2qh1i       139760

### 2 Prosecan broj korisnika

### 3 - Najveci broj objava

In [100]:
data_sub = sub
print(data_sub.columns)
data_sub_g = data_sub.groupby('author').agg(counts = ('id' , 'count')).nlargest(5, 'counts')
data_sub_g

Index(['id', 'url', 'permalink', 'author', 'created_utc', 'subreddit',
       'subreddit_id', 'num_comments'],
      dtype='object')

                  counts
author
gst                18870
qgyh2              12238
rmuser              9822
twolf1              8597
IAmperfectlyCalm    8308
qazamisan           6927
charlatan           5998
igeldard            5373
noname99            5334
democracy101        5332

### 3.2 - Najveci broj komentara

In [102]:
data_comm = comm
print(data_comm.columns)
data_comm_g = data_comm.groupby('author').agg(counts = ('id' , 'count')).nlargest(5, 'counts')
data_comm_g

Index(['id', 'author', 'link_id', 'parent_id', 'subreddit', 'subreddit_id'], dtype='object')

                  counts
author
NoMoreNicksLeft    13480
malcontent         12159
matts2             11672
mexicodoug          9169
7oby                9161
aletoledo           8085
mutatron            7771
otakucode           7759
redditcensoredme    7468
h0dg3s              7439

### 4 - Najveci broj subredita

In [110]:
data_g = data.groupby('author').agg(num_activity = ('subreddit_id', 'nunique')).nlargest(5, 'num_activity')
data_g

                num_activity
author
MrKlaatu                 181
Escafane                 154
omfgninja                122
codepoet                 111
scientologist2           111
turkourjurbs             110
Sylveran-01              107
b34nz                    107
krugerlive               106
tuoder                   103